.pagination {
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    bottom: 0; /* Align to the bottom */
    width: 100%; /* Full width */
    padding: 10px 0; /* Add padding */
    /* background-color: #f2f2f2; Remove background color */
  }
  
  .pagination button {
    background-color: #ccc; /* Grey background color */
    width: 20px; /* Width of each button */
    height: 20px; /* Height of each button */
    border: none;
    margin: 0 5px;
    padding: 0; /* No padding */
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
  }
  
  .pagination button:hover {
    background-color: #999; /* Darker grey on hover */
  }
  
  .pagination button.active {
    background-color: #333; /* Dark grey for active button */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
  }